doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="95BA16BE-38D0-40EB-83C9-D0466500C56D", crossorigin="anonymous")
        title #{pageTitle}| #{siteName}
        link(rel="stylesheet", href="/static/main.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js") 