extends layouts/main
include mixins/videoBlock


block content

    //- <h1>#{videos}</h1>
    .home-videos
        each item in videos
            +videoBlock({
                id:item.id,
                title:item.title,
                views:item.views,
                videoFile:item.fileUrl
            })